<form [formGroup]="ticketForm" (ngSubmit)="onBuyClick()" class="ticket-form">

  <div class="form-group">
    <div class="label-container">
      <label for="senior" class="label">{{ "TICKET_PURCHASE.SENIORS" | translate }}</label>
      
      <!-- mensaje de información -->
      @if (isMember()) {
      <em class="text-info">
        Precio socio: {{ unitPrices().SENIOR }}
        <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-75 -60 117.75 120"
          fill="currentColor">
          <path
            d="M-70.843013-15H31.177404l-4.156987 10H-75zm0 20H22.863429l-4.156987 10H-75zM38.302222-32.13938a50 50 0 1 0 0 64.278761v14.04438a60 60 0 1 1 4.231556-88.502524z" />
        </svg>
        <span class="text-info__detail">{{ "TICKET_PURCHASE.SENIORS_INFO" | translate }}</span>
      </em>
      }

      @else {
      <em class="text-info">
        {{ unitPrices().SENIOR }}
        <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-75 -60 117.75 120"
          fill="currentColor">
          <path
            d="M-70.843013-15H31.177404l-4.156987 10H-75zm0 20H22.863429l-4.156987 10H-75zM38.302222-32.13938a50 50 0 1 0 0 64.278761v14.04438a60 60 0 1 1 4.231556-88.502524z" />
        </svg>
        <span class="text-info__detail">{{ "TICKET_PURCHASE.SENIORS_INFO" | translate }}</span>
      </em>
      }
    </div>

    <div class="input-container">

      <button type="button" class="decrement-button" (click)="decrement('senior')" aria-label="decrement-button">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" height="24px" width="24px"
          fill="currentColor">
          <path d="M200-440v-80h560v80H200Z" />
        </svg>
      </button>

      <input type="number" class="input-number" placeholder="0" min="0" step="1" formControlName="senior" id="senior"
        readonly>

      <button type="button" class="increment-button" (click)="increment('senior')" aria-label="increment-button">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" height="24px" width="24px"
          fill="currentColor">
          <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
        </svg>
      </button>

      <!-- mensaje de error -->
      @if (ticketForm.get('senior')?.invalid && ticketForm.get('senior')?.touched) {
      <div class="error-message">
        {{ "TICKET_PURCHASE. MINIMUM_VALUE" | translate }}
      </div>
      }
    </div>
  </div>

  <div class="form-group">
    <div class="label-container">
      <label for="adult" class="label">{{ "TICKET_PURCHASE.ADULTS" | translate }}</label>

      <!-- mensaje de información -->
      @if (isMember()) {
      <em class="text-info">
        Precio socio: {{ unitPrices().ADULT }}
        <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-75 -60 117.75 120"
          fill="currentColor">
          <path
            d="M-70.843013-15H31.177404l-4.156987 10H-75zm0 20H22.863429l-4.156987 10H-75zM38.302222-32.13938a50 50 0 1 0 0 64.278761v14.04438a60 60 0 1 1 4.231556-88.502524z" />
        </svg>
        <span class="text-info__detail">{{ "TICKET_PURCHASE.ADULTS_INFO" | translate }}</span>
      </em>
      }

      @else {
      <em class="text-info">
        {{ unitPrices().ADULT }}
        <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-75 -60 117.75 120"
          fill="currentColor">
          <path
            d="M-70.843013-15H31.177404l-4.156987 10H-75zm0 20H22.863429l-4.156987 10H-75zM38.302222-32.13938a50 50 0 1 0 0 64.278761v14.04438a60 60 0 1 1 4.231556-88.502524z" />
        </svg>
        <span class="text-info__detail">{{ "TICKET_PURCHASE.ADULTS_INFO" | translate }}</span>
      </em>
      }
    </div>
    <div class="input-container">
      <button type="button" class="decrement-button" (click)="decrement('adult')" aria-label="decrement-button">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" height="24px" width="24px"
          fill="currentColor">
          <path d="M200-440v-80h560v80H200Z" />
        </svg>
      </button>

      <input type="number" class="input-number" placeholder="0" min="0" step="1" formControlName="adult" id="adult"
        readonly>

      <button type="button" class="increment-button" (click)="increment('adult')" aria-label="increment-button">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" height="24px" width="24px"
          fill="currentColor">
          <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
        </svg>
      </button>

      <!-- mensaje de error -->
      @if (ticketForm.get('adult')?.invalid && ticketForm.get('adult')?.touched) {
      <div class="error-message">
        Valor mínimo: 0
      </div>
      }
    </div>
  </div>

  <div class="form-group">
    <div class="label-container">
      <label for="child" class="label">{{ "TICKET_PURCHASE.CHILDREN" | translate }}</label>
      <!-- mensaje de información -->
      @if (isMember()) {
      <em class="text-info">
        Precio socio: {{ unitPrices().CHILD }}
        <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-75 -60 117.75 120"
          fill="currentColor">
          <path
            d="M-70.843013-15H31.177404l-4.156987 10H-75zm0 20H22.863429l-4.156987 10H-75zM38.302222-32.13938a50 50 0 1 0 0 64.278761v14.04438a60 60 0 1 1 4.231556-88.502524z" />
        </svg>
        <span class="text-info__detail">{{ "TICKET_PURCHASE.CHILD_INFO" | translate }}</span>
      </em>
      }

      @else {
      <em class="text-info">
        {{ unitPrices().CHILD }}
        <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-75 -60 117.75 120"
          fill="currentColor">
          <path
            d="M-70.843013-15H31.177404l-4.156987 10H-75zm0 20H22.863429l-4.156987 10H-75zM38.302222-32.13938a50 50 0 1 0 0 64.278761v14.04438a60 60 0 1 1 4.231556-88.502524z" />
        </svg>
        <span class="text-info__detail">{{ "TICKET_PURCHASE.CHILD_INFO" | translate }}</span>
      </em>
      }
    </div>

    <div class="input-container">
      <button type="button" class="decrement-button" (click)="decrement('child')" aria-label="decrement-button">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" height="24px" width="24px"
          fill="currentColor">
          <path d="M200-440v-80h560v80H200Z" />
        </svg>
      </button>

      <input type="number" class="input-number" placeholder="0" min="0" step="1" formControlName="child" id="child"
        readonly>

      <button type="button" class="increment-button" (click)="increment('child')" aria-label="increment-button">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" height="24px" width="24px"
          fill="currentColor">
          <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
        </svg>
      </button>

      <!-- mensaje de error -->
      @if (ticketForm.get('child')?.invalid && ticketForm.get('child')?.touched) {
      <div class="error-message">
        Valor mínimo: 0
      </div>
      }
    </div>
  </div>

  <!-- selección de fecha -->
  <div class="date-selection">
    <label for="date">{{ 'TICKET_PURCHASE.DATE' | translate }}</label>
    <input type="date" id="date" formControlName="date" [min]="today" (change)="onDateChange()" />
  </div>

  <div class="hour-selection" *ngIf="availableHours.length > 0">
    <label for="hour">{{ 'TICKET_PURCHASE.HOUR' | translate }}</label>
    <select id="hour" formControlName="hour">
      <option value="">{{ 'TICKET_PURCHASE.SELECT_HOUR' | translate }}</option>
      <option *ngFor="let hour of availableHours" [value]="hour">
        {{ hour }}
      </option>
    </select>
  </div>

  @if (ticketForm.errors?.['minOneTicket'] && ticketForm.touched) {
  <div class="error-message">
    {{ 'TICKET_PURCHASE.MIN_ONE_TICKET' | translate }}
  </div>
  }

  <button type="submit" class="submit-button">{{ "TICKET_PURCHASE.BUY_TICKETS" | translate }}</button>

  @if (showSummary){
  <app-ticket-summary-modal [quantities]="ticketService.quantities()" [total]="ticketService.total()"
    [isMember]="isMember()" (confirm)="confirmPurchase()" (cancel)="showSummary = false"></app-ticket-summary-modal>
  }
</form>