<ul class="info-block">
    <li class="info-block-row">
        <p class="info-block-content">14:00</p>
        <p class="info-block-content">{{ 'SCHEDULE.ACTIVITIES_OPENING' | translate }}</p>
    </li>
    
    @for (activity of activities; track activity.id) {
    <li class="info-block-row">
        <p class="info-block-content">{{ activity.time }}</p>
        <p class="info-block-content">{{ getLocalizedField(activity.name) }}</p>
    </li>
    }

    <li class="info-block-row">
        <p class="info-block-content">22:00</p>
        <p class="info-block-content">{{ 'SCHEDULE.ACTIVITIES_CLOSING' | translate}}</p>
    </li>
</ul>