.top-bar,
.bottom-bar {
  position: relative;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--background-color);
}

.top-bar {
  padding: 0 calc(var(--space-7) * 3);
}

.bottom-bar {
  padding: var(--space-1) calc(var(--space-7) * 3);
}

.top-bar__logo {
  height: 6rem;
  width: 6rem;
}

.top-bar__title {
  font-size: 30px;
  font-family: var(--primary-font-family);
  font-weight: bolder;
  color: var(--text-color);
}

.top-bar__email {
  font-size: 16px;
  font-family: var(--primary-font-family);
  font-weight: normal;
  color: var(--text-color);
}

.top-bar__wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.bottom-bar__logo-container {
  display: flex;
  align-items: center;
}

.top-bar__networks {
  height: var(--space-6);

  display: flex;
  align-items: center;
}

.svg-icon {
  color: var(--text-color);
}