<header class="header" [class.is-fixed]="headerService.mode() === 'fixed'">
  
  <!-- Barra superior -->
  <div class="header-top">
    
    <div class="branding">
      <h1 class="site-title">Senda Animal</h1>
      <p class="site-tagline">Una reserva salvaje</p>
    </div>

    <div class="header-controls">
      <app-auth class="auth-component"></app-auth>
      <app-page-settings class="page-settings-component"></app-page-settings>
    </div>
  </div>

  <!-- Barra de navegación -->
  <div class="header-nav" [class.is-open]="isHamOpen()">
    <app-nav class="nav-component"></app-nav>
  </div>
</header>