<header class="header">
  <!-- Barra superior -->
  <div class="header-top">
    
    <div class="branding">
      <h1 class="site-title">Senda Animal</h1>
      <p class="site-tagline">Una reserva salvaje</p>
    </div>

    <div class="header-controls">
      
      <app-auth class="auth-component"></app-auth>
      <app-page-settings class="page-settings-component"></app-page-settings>

      <!-- <button class="menu-toggle" type="button" (click)="toggleMenu()" [attr.aria-expanded]="isHamOpen()"
        aria-label="Abrir menú de navegación">
        <span class="menu-icon"></span>
      </button> -->
    </div>
  </div>

  <!-- Barra de navegación -->
  <div class="header-nav" [class.is-open]="isHamOpen()">
    <app-nav class="nav-component"></app-nav>
  </div>
</header>