.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.hero-background {
  height: 100%;
  width: 100%;

  position: absolute;

  inset: 0;

  object-fit: cover;
}

.hero-header {
  min-height: var(--space-6);
  width: 100%;

  position: fixed;
  top: 0; // var(--space-4)
  left: 0;
  z-index: 2;

  background-color: #FFF8EC; // background-color
}
