<ul class="nav-list">
  <li class="button button-nav">
    <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="onClick()"
      [routerLinkActiveOptions]="{exact: true}" [attr.aria-label]="'NAV.HOME' | translate">{{ 'NAV.HOME' | translate }}</a>
  </li>
  <li class="button button-nav">
    <a class="nav-link" routerLink="/animals" routerLinkActive="active" (click)="onClick()"
      [attr.aria-label]="'NAV.ANIMALS' | translate">{{ 'NAV.ANIMALS' | translate }}</a>
  </li>
  <li class="button button-nav">
    <a class="nav-link" routerLink="/favorite-animals" routerLinkActive="active" (click)="onClick()"
      [attr.aria-label]="'NAV.FAVORITES' | translate">{{ 'NAV.FAVORITES' | translate }}</a>
  </li>
  <li class="button button-nav">
    <a class="nav-link" routerLink="/tickets" routerLinkActive="active" (click)="onClick()"
      [attr.aria-label]="'NAV.TICKETS' | translate">{{ 'NAV.TICKETS' | translate }}</a>
  </li>
  <li class="button button-nav">
    <a class="nav-link" routerLink="/courses" routerLinkActive="active" (click)="onClick()"
      [attr.aria-label]="'NAV.COURSES' | translate">{{ 'NAV.COURSES' | translate }}</a>
  </li>
  <li class="button button-nav">
    <a class="nav-link" routerLink="/activities" routerLinkActive="active" (click)="onClick()"
      [attr.aria-label]="'NAV.ACTIVITIES' | translate">{{ 'NAV.ACTIVITIES' | translate }}</a>
  </li>
</ul>