<!-- tarjeta de compra de entradas -->
<div class="ticket-form-card">
  <!-- se selecciona el tipo de entrada -->
  <div class="select-ticket-type">
    <div class="select-senior-type">
      <p>Senior</p>

      <!-- se introduce el número de entradas-->
      <input type="number" class="input-number" placeholder="0">

    </div>
    <div class="select-adult-type">
      <p>Adulto</p>

      <!-- se introduce el número de entradas-->
      <input type="number" class="input-number" placeholder="0">

    </div>
    <div class="select-child-type">
      <p>Niño</p>

      <!-- se introduce el número de entradas-->
      <input type="number" class="input-number" placeholder="0">

    </div>
  </div>

  <!-- se selecciona la fecha -->
  <div class="select-date">

    <!-- botón para desplegar la fecha -->
    <button class="button button-select-date">Seleccionar fecha</button>

    <input type="date" class="input-date" placeholder="Seleccionar fecha">
  </div>
</div>
