<div class="select-senior-type">
  <p>Senior</p>
  <input type="number" 
         class="input-number" 
         placeholder="0"
         (input)="onSeniorChange($event)">
</div>

<div class="select-adult-type">
  <p>Adulto</p>
  <input type="number" 
         class="input-number" 
         placeholder="0"
         (input)="onAdultChange($event)">
</div>

<div class="select-child-type">
  <p>Niño</p>
  <input type="number" 
         class="input-number" 
         placeholder="0"
         (input)="onChildChange($event)">
</div>

<!-- en un futuro habrá que añadir un input type date para seleccionar la fecha -->

<!-- Botón de compra -->
<button class="button button-buy-ticket" 
        (click)="onBuyClick()">
  Comprar entradas
</button>