.park-overview {
    display: grid;
    grid-template-columns: 40% 60%;
}

.park-intro {
    padding: var(--space-8) var(--space-6);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-7);
}

.intro-image {
    height: 19rem;
    width: 19rem;

    padding: 3px;

    border: 2px solid var(--primary-color);
    border-radius: 50%;
    object-fit: cover;

    box-shadow: var(--shadow-md);
}

.intro-title {
    font-size: 60px;
    font-weight: bold;
    font-family: var(--primary-font-family);
    text-align: center;

    color: var(--primary-color);
}

.intro-description {
    width: 90%;

    font-size: 24px;
    font-weight: normal;
    font-family: var(--secondary-font-family);
    text-align: center;
    line-height: 1.5;

    color: var(--primary-400);
}

.intro-block {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    color: var(--primary-color);
}

.intro-block .text {
    font-size: 24px;
    font-family: var(--secondary-font-family);
    font-weight: bolder;
}

.visitor-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: 40% 60%;
}

.visitor-image {
    height: 20rem;
    width: 100%;

    object-fit: cover;
}

.visitor-info {
    padding: var(--space-5);

    display: grid;
    grid-template-rows: 3rem auto 15rem;
    gap: var(--space-4);

    background-color: var(--primary-color);
}

.section-heading {
    padding: var(--space-2) 0;

    font-size: 18px;
    font-family: var(--primary-font-family);
    font-weight: normal;
    text-transform: uppercase;
}

.info-block {
    width: 100%;

    padding: var(--space-2);

    box-shadow: var(--shadow-md);
}

.visitor-info .info-block {
    display: grid;
    gap: var(--space-2);
}

.info-title-wrapper {
    padding: var(--space-2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-2);
}

.info-title-wrapper .svg-icon {
    color: var(--accent-color);
}

.info-title {
    font-size: 22px;
    font-family: var(--primary-font-family);
    font-weight: light;

    color: var(--accent-color);
}

.info-list {
    padding: var(--space-2);

    display: grid;
    gap: var(--space-4);

    border-top: 2px solid var(--accent-color);
}

.info-item {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    color: var(--accent-color);
}

.info-item .text,
.info-block .text {
    font-size: 18px;
    font-family: var(--secondary-font-family);
}

.schedule-panel {
    padding: var(--space-5);

    display: grid;
    grid-template-rows: 3rem 1fr 5rem;
    gap: var(--space-4);

    background-color: var(--primary-600);
}

.schedule-panel .info-block {
    padding: var(--space-4) var(--space-6);

    display: grid;
    gap: var(--space-2);

    color: var(--accent-color);
}

.info-block-row {
    padding: var(--space-2) var(--space-4);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--accent-color);
}

.info-block-row:last-child {
    border: none;
}

.info-block-content {
    font-size: 18px;
    font-family: var(--secondary-font-family);
    
}

.schedule-panel .info-block:last-child {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}