<div class="animal-list-skeleton">

    <div class="animal-list-skeleton__grid">

        @for (item of [1, 2, 3, 4, 5]; track item) {

        <article class="animal-card-skeleton">

            <div class="animal-card-skeleton__image"></div>

            <div class="animal-card-skeleton__content">

                <div class="animal-card-skeleton__meta">
                    <span class="animal-card-skeleton__badge"></span>
                    <span class="animal-card-skeleton__badge"></span>
                </div>

                <div class="animal-card-skeleton__name"></div>

                <div class="animal-card-skeleton__scientific"></div>

                <div class="animal-card-skeleton__description">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="animal-card-skeleton__weight"></div>

            </div>

        </article>

        }

    </div>

</div>