main.header-sticky {
  padding-top: var(--header-height);
}

// main.header-fixed {
//   padding-top: var(--header-height);
// }

.app-content-wrapper {
  position: relative;
}

.header {
  height: fit-content;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 1;
}

.footer {
  position: relative;

  display: grid;

  background-color: var(--primary-color);
}