<div class="content-wrapper">
    <section class="section-header">
        <h1 class="section-title">Compra de entradas</h1>
    </section>

    <section class="section__form-display">

        <!-- contenedor venta entradas (no miembros) -->
        <article class="article__regular-admission">

            <div class="article-header">
                <h1 class="article-title">Acceso al zoo</h1>
                <h2 class="article-subtitle">
                    La admisión incluye todas las zonas del parque, exceptuando aquellas donde se realizan actividades
                    exclusivas para miembros.
                    Todos los visitantes deben tener una fecha específica de entrada.
                </h2>
            </div>

            <ul class="article-content">

                <li class="article__content-row">
                    <p class="content__ticket-age">Ancianos <span class="parenthesis-info">(mayores de 65 años)</span>
                    </p>
                    <p class="content__ticket-price">18
                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="-75 -60 117.75 120"
                            fill="currentColor">
                            <path
                                d="M-70.843013-15H31.177404l-4.156987 10H-75zm0 20H22.863429l-4.156987 10H-75zM38.302222-32.13938a50 50 0 1 0 0 64.278761v14.04438a60 60 0 1 1 4.231556-88.502524z" />
                        </svg>
                    </p>
                </li>

                <li class="article__content-row">
                    <p class="content__ticket-age">Adultos <span class="parenthesis-info">(mayores de 25 años)</span>
                    </p>
                    <p class="content__ticket-price">20
                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="-75 -60 117.75 120"
                            fill="currentColor">
                            <path
                                d="M-70.843013-15H31.177404l-4.156987 10H-75zm0 20H22.863429l-4.156987 10H-75zM38.302222-32.13938a50 50 0 1 0 0 64.278761v14.04438a60 60 0 1 1 4.231556-88.502524z" />
                        </svg>
                    </p>
                </li>

                <li class="article__content-row">
                    <p class="content__ticket-age">Jóvenes <span class="parenthesis-info">(mayores de 14 años)</span>
                    </p>
                    <p class="content__ticket-price">16
                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="-75 -60 117.75 120"
                            fill="currentColor">
                            <path
                                d="M-70.843013-15H31.177404l-4.156987 10H-75zm0 20H22.863429l-4.156987 10H-75zM38.302222-32.13938a50 50 0 1 0 0 64.278761v14.04438a60 60 0 1 1 4.231556-88.502524z" />
                        </svg>
                    </p>
                </li>

                <li class="article__content-row">
                    <p class="content__ticket-age">Niños <span class="parenthesis-info">(mayores de 3 años)</span></p>
                    <p class="content__ticket-price">14
                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="-75 -60 117.75 120"
                            fill="currentColor">
                            <path
                                d="M-70.843013-15H31.177404l-4.156987 10H-75zm0 20H22.863429l-4.156987 10H-75zM38.302222-32.13938a50 50 0 1 0 0 64.278761v14.04438a60 60 0 1 1 4.231556-88.502524z" />
                        </svg>
                    </p>
                </li>
            </ul>
            <!-- alternancia entre secciones: ticket-purchase y ticket-form -->
            <!-- @if (!showTicketForm) {
            <app-ticket-purchase (buyClicked)="showTicketForm = true"></app-ticket-purchase>
            }
            @if (showTicketForm) {
            <app-ticket-form (cancel)="showTicketForm = false"></app-ticket-form>
            } -->

            <button routerLink="/purchase" class="submit-button">
                Hazte con ellas ahora
            </button>
        </article>

        <!-- contenedor venta entradas para miembros -->
        <article class="article__member-admission">

            <div class="article-header">
                <h1 class="article-title">Acceso para miembros</h1>
                <h2 class="article-subtitle">
                    Todos los miembros deben revervar una fecha específica de entradas.
                    El número de socio es imprescindible para hacer una reverva.
                </h2>
            </div>

            <ul class="article-content">

                <li class="article__content-row">
                    <p class="content__ticket-age">Ancianos <span class="parenthesis-info">(mayores de 65 años)</span>
                    </p>
                    <p class="content__ticket-price">Entrada gratuita</p>
                </li>

                <li class="article__content-row">
                    <p class="content__ticket-age">Adultos <span class="parenthesis-info">(mayores de 25 años)</span>
                    </p>
                    <p class="content__ticket-price">50% de descuento</p>
                </li>

                <li class="article__content-row">
                    <p class="content__ticket-age">Jóvenes <span class="parenthesis-info">(mayores de 14 años)</span>
                    </p>
                    <p class="content__ticket-price">Entrada gratuita</p>
                </li>

                <li class="article__content-row">
                    <p class="content__ticket-age">Niños <span class="parenthesis-info">(mayores de 3 años)</span></p>
                    <p class="content__ticket-price">Entrada gratuita</p>
                </li>
            </ul>

            <button routerLink="/purchase" class="submit-button">
                Resérvalas ahora
            </button>
        </article>
    </section>
</div>