.auth-list {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.auth-item {
  height: calc(var(--space-3) * 3);
  width: calc(var(--space-4) * 7);

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
}

.auth-item::before {
  content: "";

  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  opacity: .05;
  background-color: var(--text-color);
}

.auth-item__register {
  border: 2px solid var(--text-color);
}

.svg-icon {
  color: var(text-color);
}

.link {
  font-size: 16px;
  font-family: var(--secondary-font-family);

  color: var(--text-color);
}

.auth-item:hover {
  background-color: var(--text-color);
}

.auth-item:hover .svg-icon,
.auth-item:hover .link {
  color: var(--background-color);
}
