.auth-list {
  display: flex;
  align-items: center;
}

.auth-item {
  min-height: var(--space-6);
  min-width: calc(var(--space-7) + var(--space-7));

  position: relative;
  padding: 0 var(--space-3);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.auth-item::before {
  content: "";

  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--text-color);
  opacity: .05;
}

.auth-item__login::after {
  content: "";

  height: 100%;
  width: 1px;

  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--text-color);
}

.auth-item__register::after {
  content: "";

  height: 100%;
  width: 1px;

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--text-color);
}

.auth-item:hover .link,
.auth-item:hover .svg-icon {
  color: var(--secondary-color);
}

.auth-item:active .link,
.auth-item:active .svg-icon {
  color: var(--text-color);
  transform: scale(.9);
}

.svg-icon {
  color: var(--text-color);
}

.link {
  font-size: 16px;
  font-family: var(--primary-font-family);
  font-weight: normal;
  color: var(--text-color);
}