.nav-list {
  max-height: 3rem;
  width: 80%;

  margin: 0 auto;
  padding: var(--space-1) 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-nav {
  z-index: 1;

  overflow: hidden;

  border: 2px solid var(--accent-color);
}

.button-nav::before {
  content: "";

  height: 100%;
  width: 0%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: var(--accent-color);

  transition: width .2s ease-out;
}

.button-nav:hover::before {
  width: 100%;
}

.nav-link {
  color: var(--accent-color);
}

.button-nav:hover .nav-link {
  color: var(--primary-color);
}

// cuando un enlace es activo, se le asigna la clase "active" y se le da un estilo diferente
.button-nav:has(.nav-link.active)::before {
  width: 100%;
}

.button-nav:has(.nav-link.active) .nav-link {
  color: var(--primary-color);
}