.content-wrapper {
    padding: var(--space-7) 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    height: 35rem;
    width: 25rem;
    aspect-ratio: 1 / 1;

    position: relative;

    box-shadow: var(--shadow-sm);

    transition: transform 0.3s;

    overflow: hidden;
}

.login-card:hover .card-image {
    transform: scale(1.1);
}

.card-image {
    height: 100%;
    width: 100%;

    object-fit: cover;
    transition: transform 0.5s ease;
}

.card-content {
    min-height: 6rem;
    height: 25%;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    padding: var(--space-2);

    display: grid;
    place-items: center;

    border-top: 4px solid var(--accent-color);

    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, .6);
}

.submit-button {
    position: relative;
    z-index: 1;

    border: 2px solid var(--accent-color);

    color: var(--accent-color);
    background: rgba(0, 0, 0, .6);

    transition:
        border .3s ease-out,
        color .3s ease-out;
}

.submit-button:hover {
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

.submit-button::before {
    content: "";

    height: 100%;
    width: 0%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: var(--accent-color);

    transition: width .2s ease-out;
}

.submit-button:hover::before {
    width: 100%
}