<div class="filters">

    <div class="filters__search">
        <input type="text" [placeholder]="'ANIMAL_FILTERS.SEARCH_PLACEHOLDER' | translate" #search (input)="onSearch(search.value)" />
    </div>

    <div class="filters__controls">

        <select #diet (change)="onDietChange(diet.value)">
            <option value="">{{ 'ANIMAL_FILTERS.ALL_DIETS' | translate }}</option>
            <option value="herbívoro">{{ 'ANIMAL_FILTERS.HERBIVORE' | translate }}</option>
            <option value="carnívoro">{{ 'ANIMAL_FILTERS.CARNIVORE' | translate }}</option>
            <option value="omnívoro">{{ 'ANIMAL_FILTERS.OMNIVORE' | translate }}</option>
            <option value="insectívoro">{{ 'ANIMAL_FILTERS.INSECTIVORE' | translate }}</option>
        </select>

        <select #continent (change)="onContinentChange(continent.value)">
            <option value="">{{ 'ANIMAL_FILTERS.ALL_CONTINENTS' | translate }}</option>
            <option value="África">{{ 'ANIMAL_FILTERS.AFRICA' | translate }}</option>
            <option value="Europa">{{ 'ANIMAL_FILTERS.EUROPE' | translate }}</option>
            <option value="Asia">{{ 'ANIMAL_FILTERS.ASIA' | translate }}</option>
            <option value="América">{{ 'ANIMAL_FILTERS.AMERICA' | translate }}</option>
            <option value="Oceanía">{{ 'ANIMAL_FILTERS.OCEANIA' | translate }}</option>
        </select>

        <select #conservationStatus (change)="onConservationStatusChange(conservationStatus.value)">
            <option value="">{{ 'ANIMAL_FILTERS.ALL_CONSERVATION' | translate }}</option>
            <option value="preocupación menor">{{ 'ANIMAL_FILTERS.LEAST_CONCERN' | translate }}</option>
            <option value="vulnerable">{{ 'ANIMAL_FILTERS.VULNERABLE' | translate }}</option>
            <option value="en peligro">{{ 'ANIMAL_FILTERS.ENDANGERED' | translate }}</option>
            <option value="en peligro crítico">{{ 'ANIMAL_FILTERS.CRITICALLY_ENDANGERED' | translate }}</option>
            <option value="extinto">{{ 'ANIMAL_FILTERS.EXTINCT' | translate }}</option>
        </select>

        <button class="filters__clear" (click)="onClear()">{{ 'ANIMAL_FILTERS.CLEAR_FILTERS' | translate }}</button>

    </div>

</div>