<div class="enrollment-form">

    @if (course) {

    <h3>{{ 'COURSE_FORM.ENROLL_COURSE' | translate }}</h3>

    <p>{{ course.name }}</p>

    @if (isMember && course.isFreeForMembers) {
    <p>💡 {{ 'COURSE_FORM.FREE_FOR_MEMBERS' | translate }}</p>
    }

    <button (click)="confirmEnrollment()">
        {{ 'COURSE_FORM.CONFIRM_ENROLLMENT' | translate }}
    </button>

    }

    @if (receipt) {

    <div class="receipt-box">
        <h4>{{ 'COURSE_FORM.RECEIPT' | translate }}</h4>

        <p>{{ 'COURSE_FORM.COURSE' | translate }} {{ receipt.courseName }}</p>
        <p>{{ 'COURSE_FORM.AMOUNT_PAID' | translate }} {{ receipt.pricePaid }} €</p>
        <p>{{ 'COURSE_FORM.DATE' | translate }} {{ receipt.date }}</p>
    </div>

    }

</div>